version: 1

# logging configuration
log:
  # debug, info, warning, error, fatal - default 'info'
  level: info

########################################
# SERVER CONFIG
########################################

# for configuring optimus service
#serve:
#  # port to listen on
#  port: 9100
#  port_grpc: 9101
#
#  # host to listen on
#  host: localhost
#
#  # this gets injected in compiled dags to reach back out to optimus service
#  # when they run
#  ingress_host: optimus.example.io:80
#  ingress_host_grpc: optimus-grpc.example.io:80
#
#  # 32 char hash used for encrypting secrets
#  # note: use a different one in production please
#  app_key: Yjo4a0jn1NvYdq79SADC/KaVv9Wu0Ffc
#
#  # database configurations
#  db:
#    # database connection string
#    dsn: postgres://user:password@localhost:5432/database?sslmode=disable
#
#    min_open_connection: 5
#    max_open_connection: 10

# application telemetry
#telemetry:
#
#  # configure the host:port used for
#  # - exposing profiling metrics via pprof over /debug
#  # - prometheus stats over /metrics
#  profile_addr: ":9110"
#
#  # jaeger collector address to send application traces
#  jaeger_addr: "http://localhost:14268/api/traces"

scheduler:
  versions:
    supported:
      # 1 DAG template can be used by multiple airflow versions,
      # this config contains mapping from the dag template version to list
      # of all supported Airflow minor version for that template.
      dag:
      - "2.1": ["2.1", "2.2", "2.3"]
      - "2.4": ["2.4", "2.5"]
      - "2.6": ["2.6", "2.7", "2.8"]
      - "2.9": ["2.9", "2.10"]

# resource managers for job dependency enrichment
#resource_managers:
#- name: other_optimus_server
#  type: optimus # currently, only support optimus type
#  description: neighbor optimus server
#  config:
#    host: # host of other optimus server
#    headers: # might necessary for authorization
#
# plugin:
#   artifacts:
#     # refer : https://github.com/hashicorp/go-getter
#     - ../transformers/dist/transformers_0.1.0_macos_arm64.tar.gz
#     - https://github.com/goto/optimus/releases/download/v0.2.5/optimus_0.2.5_linux_arm64.tar.gz

# publisher:
#   type: kafka
#   buffer: 8
#   config:
#     topic: optimus-events
#     batch_interval_second: 1
#     broker_urls:
#       - localhost:9092

# replay:
#   plugin_execution_project_config_names:
#     bq2bq: EXECUTION_PROJECT
#     bq2pg: BQ_EXECUTION_PROJECT
#     pg2bq: BQ_EXECUTION_PROJECT
#     bq2api: EXECUTION_PROJECT
#     clevertap: EXECUTION_PROJECT
#     transporterTask: EXECUTION_PROJECT
